:root {
    --color1: #FFFFFF;
    --color2: #EAEAEA;
    --color3: #C4C4C4;
    --color4: #000000;
    --fontsize1: 16px;
    --fontsize2: 32px;
    --borderradius1: 16px;
    --borderradius2: 8px;
    --spacing1: 16px;
    --spacing2: 8px;
    --opacity: 0.5;
    --fontweight1: 700;
    --fontweight2: 400;
    --border: 1px solid var(--color4);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fontsize1);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    background-color: var(--color3);
    border: var(--border);
    border-radius: var(--borderradius2);
}

.container,
.dialog-container {
    margin: 20px auto;
    width: 900px;
    border: var(--border);
    border-radius: var(--borderradius1);
    overflow: hidden;
}

.title {
    font-size: var(--fontsize2);
    background-color: var(--color2);
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: var(--border);
    font-weight: var(--fontweight1);
}

main {
    padding: 12px;
}

.filter-buttons {
    background-color: var(--color1);
    border: var(--border);
    border-radius: var(--borderradius2);
    display: flex;
    justify-content: center;
    padding: 12px;
    margin-bottom: 12px;
}

.filter-buttons input {
    margin-right: 20px;
    padding: 6px;
    border: var(--border);
    border-radius: var(--borderradius2);
    background-color: var(--color2);
}

.filter-buttons input::placeholder {
    color: var(--color4);
}

ul.meals {
    width: 100%;
    border: var(--border);
    border-radius: var(--borderradius1);
    font-weight: var(--fontweight1);
    overflow: hidden;
    align-items: center;
}

.meals li {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meals li:not(:last-child) {
    border-bottom: var(--border);
}

.meals li section {
    display: flex;
    align-items: center;
}

.meals li span {
    margin: 0 15px;
}

.meals li:nth-child(even) {
    background-color: var(--color2);
}

.meals img {
    width: 50px;
    height: auto;
    border-radius: var(--borderradius2);
}

.meals button.see-more {
    padding: 8px 12px;
    font-weight: var(--fontweight1);
}

.meals button.see-more:hover,
.pagination-buttons button:hover:not(:disabled),
.close-recipe:hover {
    background-color: var(--color2);
    cursor: pointer;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 1.6em;
}

.pagination-buttons button {
    padding: 6px;
    width: 40px;
}

section.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, var(--opacity));
}

#dialog {
    position: relative;
    background-color: var(--color1);
    margin: auto;
    padding: 0;
}

.dialog-container {
    margin: 30px auto;
    width: 850px;
    text-align: center;
}

.dialog-container main img {
    width: 310px;
    height: auto;
}

.dialog-container table,
.dialog-container th,
.dialog-container td {
    border: var(--border);
}

.dialog-container table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: var(--borderradius1);
}

.dialog-container table tr:not(:last-child) {
    border-bottom: var(--border);
}

.dialog-container table td:first-child,
.dialog-container table th:first-child {
    border-right: var(--border);
}

.dialog-container .ingredients {
    display: grid;
    grid-template-columns: auto auto;
    border: var(--border);
    border-radius: var(--borderradius2);
}

.ingredients .heading {
    background-color: var(--color3);
    font-weight: var(--fontweight1);
}

.ingredients p {
    background-color: var(--color2);
    padding: 5px;
}

.list {
    display: grid;
    grid-template-columns: 180px 180px;
    width: 360px;
    margin-left: 0;
    padding-left: 0;
    border: 1px solid rgb(0, 0, 0);
    list-style-type: none;
}

.list li {
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.list li span {
    display: block;
    padding: 6px 9px;
    border: 1px solid rgb(0, 0, 0);
}

.list li span.category {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.dialog-container ul li {
    display: grid;
}

/* .dialog-container ul {
    border: var(--border);
    border-radius: var(--borderradius2);
    overflow: hidden;
}

.dialog-container li:first-child {
    background-color: var(--color3);
    font-weight: var(--fontweight1);
}

.dialog-container li {
    background-color: var(--color2);
    padding: 5px;
    border-bottom: var(--border);
}

.dialog-container li span:first-of-type {
    border-right: var(--border);
} */

.dialog-container footer {
    background-color: var(--color2);
    border-top: var(--border);
    padding: 10px;
}

.dialog-container .close-recipe {
    padding: 10px 14px;
    font-weight: var(--fontweight1);
}